body
{
   background-color:rgba(13, 100, 100, 0.61);
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
color:black;
}
.imagenes
{
    margin:0px;
    color:black;
    font-size: 23px;
    text-align: center ;
}